<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="container w-50 mt-5 text-center">
    <div class="text-center display-3 m-3 text-white">
      Word Limit: {{limit}}
    </div>
    <input type="range" min="1" max="50" value="{{limit}}" class="slider form-control-range"
      (change)="handleSlideChange($event.target.value)" />

    <button class="btn btn-info" (click)="generate()">Generate Words</button>
    <button class="btn btn-info" (click)="randomgenerate()">Generate Random Words</button>


    <div *ngIf="words" class="card card-body">
      <p class="display-4">
        {{words}}
      </p>
    </div>

    <div *ngIf="random" class="card card-body">
      <p class="display-4">
        {{random}}
      </p>
    </div>

  </div>
</body>

</html>